* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fcf5e5;
    font-family: Montserrat;
    overflow: hidden;
}

#navbbar {
    position: sticky;
    top: 0;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #fcf5e5;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
}

.topnav .active {
    padding: 25px 30px;
    padding-left: 80px;
    font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #989898;
}

/* Right-aligned section inside the top navigation */
.topnav-right a {
    padding: 30px 30px 0px 0px;
    float: right;
}

#img-logo {
    position: fixed; 
    left: 23px; 
    top: 20px;
}

img:hover {
    cursor: pointer;
}

.about-container {
    margin: auto;
    margin-left: 300px;
    margin-right: 300px;
}

#img-main {
    position: relative;
    top: 20px;
}

.about-container img {
    float: left;
    margin-right: 50px;
}

.about-info {
    padding-top: 85px;
}

.big-txt {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#donate-btn {
    margin-top: 80px;
    background-color: #f0e926;
    border: none;
    padding: 12px 32px;
    font-weight: bold;
    font-family: Montserrat;
    border-radius: 8px;
    font-size: 15px;
}

#donate-btn:hover {
    cursor: pointer;
    background-color: #e8e123;
}